openapi: 3.0.1
info:
  title: Pylon Accounts Tags API
  description: REST API for Pylon (usepylon.com), the B2B customer support and customer operations platform. Programmatically manage issues (tickets), accounts, contacts, users, teams, tags, custom fields, the knowledge base, and tasks/projects. Authentication uses a Bearer API token; only Admin users can create API tokens in Pylon settings.
  termsOfService: https://usepylon.com/terms
  contact:
    name: Pylon Support
    url: https://docs.usepylon.com/pylon-docs/developer/api
  version: '1.0'
servers:
- url: https://api.usepylon.com
  description: Pylon production API
security:
- bearerAuth: []
tags:
- name: Tags
  description: Tags used across issues, accounts, and contacts.
paths:
  /tags:
    get:
      operationId: listTags
      tags:
      - Tags
      summary: List tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
    post:
      operationId: createTag
      tags:
      - Tags
      summary: Create a tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
  /tags/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getTag
      tags:
      - Tags
      summary: Get a tag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
    patch:
      operationId: updateTag
      tags:
      - Tags
      summary: Update a tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
    delete:
      operationId: deleteTag
      tags:
      - Tags
      summary: Delete a tag
      responses:
        '200':
          description: OK
components:
  schemas:
    TagResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Tag'
    CreateTagRequest:
      type: object
      properties:
        value:
          type: string
        hex_color:
          type: string
        object_type:
          type: string
      required:
      - value
    Tag:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
        hex_color:
          type: string
        object_type:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Pylon API token passed as a Bearer token in the Authorization header. Only Admin users can create API tokens in Pylon settings.
