openapi: 3.0.1
info:
  title: Pylon Accounts Custom Fields API
  description: REST API for Pylon (usepylon.com), the B2B customer support and customer operations platform. Programmatically manage issues (tickets), accounts, contacts, users, teams, tags, custom fields, the knowledge base, and tasks/projects. Authentication uses a Bearer API token; only Admin users can create API tokens in Pylon settings.
  termsOfService: https://usepylon.com/terms
  contact:
    name: Pylon Support
    url: https://docs.usepylon.com/pylon-docs/developer/api
  version: '1.0'
servers:
- url: https://api.usepylon.com
  description: Pylon production API
security:
- bearerAuth: []
tags:
- name: Custom Fields
  description: Custom field definitions.
paths:
  /custom-fields:
    get:
      operationId: listCustomFields
      tags:
      - Custom Fields
      summary: List custom fields
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomField'
    post:
      operationId: createCustomField
      tags:
      - Custom Fields
      summary: Create a custom field
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldResponse'
  /custom-fields/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getCustomField
      tags:
      - Custom Fields
      summary: Get a custom field
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldResponse'
    patch:
      operationId: updateCustomField
      tags:
      - Custom Fields
      summary: Update a custom field
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldResponse'
components:
  schemas:
    CustomField:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        label:
          type: string
        type:
          type: string
        object_type:
          type: string
        options:
          type: array
          items:
            type: string
    CustomFieldResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CustomField'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Pylon API token passed as a Bearer token in the Authorization header. Only Admin users can create API tokens in Pylon settings.
